<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/pagonomina.css" type="text/css">
    <link rel="stylesheet" href="css/pagonomina.css" type="text/css">
</head>

<body>
    <div class="canvas">
        <!--Page header-->
        <div class="header_main">
            <div class="field_set_title">RECIBO DE NÓMINA</div>
            <div class="black line thick">&nbsp</div>
            <div class="white line thin">&nbsp</div>
            <div class="black line thick">&nbsp</div>
            <div class='tr_list'>
                <div class="tr_list third-line">
                    <div class="th_list">Fecha: [*fecha*]</div>
                </div>
                <div class="tr_list third-line">
                    <div class="th_list">Personal: [*personal*]</div>
                </div>
                <div class="tr_list third-line">
                    <div class="th_list">Modalidad de pago: [*modalidadPago*]</div>
                </div>
            </div>
            <div class='tr_list'>
                <div class="th_list">Folio: <b>#[*folio*]</b></div>
            </div>
            <div class="black line thin">&nbsp</div>
            <div class="white line thin">&nbsp</div>
            <div class="black line thin">&nbsp</div>
            <div class="tr_list">
                <div class="tr_list third-line">
                    <div class="th_list">Inicio del Periodo de Pago: [*inicioPeriodoPago*]</div>
                </div>
                <div class="tr_list third-line">
                    <div class="th_list">Fin del Periodo de Pago: [*finPeriodoPago*]</div>
                </div>
                <div class="tr_list third-line">
                    <div class="th_list"># dias: [*periodoPagoDias*]</div>
                </div>
            </div>
            <div class='tr_list'>
                <div class="tr_list">
                    <div class="th_list">Monto: <b>[*monto*] M.N.</b></div>
                </div>
                <div class="tr_list">
                    <div class="th_list">Forma de Pago: [*formaPago*]</div>
                </div>
            </div>
            <div class="tr_list">
                <div class="th_list">Concepto: [*concepto*]</div>
            </div>
            <br><br><br>
            <div class="tr_list">
                <div class='tr_list' style="text-align:center;width:20%;margin-left:auto;margin-right:auto;">
                    <div class='black line thin'></div>
                    [*personal*]
                </div>
            </div>
        </div>
        <!--<br>
    <div class="black line thick">&nbsp</div>
    <div class="header_main">
      <div class="field_set_title">RECIBO DE NÓMINA</div>
      <div class="black line thick">&nbsp</div>
      <div class="white line thin">&nbsp</div>
      <div class="black line thick">&nbsp</div>
      <div class = 'tr_list'>
        <div class="tr_list third-line">
          <div class="th_list">Fecha: [*fecha*]</div>
        </div>
          <div class="tr_list third-line">
            <div class="th_list">Personal: [*personal*]</div>
          </div>
          <div class="tr_list third-line">
            <div class="th_list">Modalidad de pago: [*modalidadPago*]</div>
          </div>
      </div>
      <div class = 'tr_list'>
             <div class="th_list">Folio: <b>#[*folio*]</b></div>
      </div>
    <div class="black line thin">&nbsp</div>
    <div class="white line thin">&nbsp</div>
    <div class="black line thin">&nbsp</div>
        <div class="tr_list">
            <div class="tr_list third-line">
                <div class="th_list">Inicio del Periodo de Pago: [*inicioPeriodoPago*]</div>
            </div>
            <div class="tr_list third-line">
              <div class="th_list">Fin del Periodo de Pago: [*finPeriodoPago*]</div>
            </div>
            <div class="tr_list third-line">
              <div class="th_list"># dias: [*periodoPagoDias*]</div>
            </div>
        </div>
        <div class = 'tr_list'>
          <div class="tr_list">
            <div class="th_list">Monto: <b>[*monto*] M.N.</b></div>
          </div>
          <div class="tr_list">
            <div class="th_list">Forma de Pago: [*formaPago*]</div>
          </div>
        </div>
        <div class="tr_list">
          <div class="th_list">Concepto: [*concepto*]</div>
        </div>
        <br><br><br>
        <div class="tr_list">
          <div class = 'tr_list' style = "text-align:center;width:20%;margin-left:auto;margin-right:auto;">
            <div class = 'black line thin'></div>
            [*personal*]
          </div>
        </div>
    </div>-->
    </div>
</body>

</html>