<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../css/recibospagoacademias.css" type="text/css">
  <link rel="stylesheet" href="css/recibospagoacademias.css" type="text/css">
</head>
<body>
<div class="canvas">
  <!--Page header-->
  <div class="header_main">
    <div class="field_set_title">RECIBOS DE PAGO</div>
    <div class="black line thick">&nbsp</div>
    <div class="white line thin">&nbsp</div>
    <div class="black line thick">&nbsp</div>
    <div class = 'tr_list'>
        <div class="tr_list third-line">
          <div class="th_list">SEDE: [*sede*]</div>
        </div>
        <div class="tr_list third-line">
          <div class="th_list">FECHA: [*fecha*]</div>
        </div>
        <div class="tr_list third-line">
          <div class="th_list">FOLIO: <b>#[*folio*]</b></div>
        </div>
    </div>

      <div class="black line thin">&nbsp</div>
      <div class="white line thin">&nbsp</div>
      <div class="black line thin">&nbsp</div>

      <div class="tr_list">
          <div class="th_list">CLIENTE: [*cliente*]</div>
        </div>
      <div class = 'tr_list'>
        <div class="tr_list half-line">
          <div class="th_list">MONTO :<b>[*monto*] M.N.</b></div>
        </div>
        <div class="tr_list half-line">
          <div class="th_list">FORMA DE PAGO: [*formaPago*]</div>
        </div>
      </div>
      <div class="tr_list">
        <div class="th_list">CONCEPTO: [*descripcionConcepto*]</div>
      </div>
    </div>
  </div>
  </body>
</html>
