<html>
<head>
  <link rel="stylesheet" href="../css/tablafiltrada.css" type="text/css">
  <link rel="stylesheet" href="css/tablafiltrada.css" type="text/css">
</head>

<body style = "margin:0.635cm">
<header>
    <h2 style = "text-align:center;">[*titulo*]</h2>
</header>

[-filtros-]
<h3>Filtros</h3>
  [*filtros*]
      <b>[*filtros_nombre*]</b>: [*filtros_valor*]
      <br>
  [/*filtros*]
[/-filtros-]
     [*info*]
     <table>
       <thead>
         <tr>
           [*header*]
             [*info_[*header_key*]*]
             <th class="th_row">
                 [*header_titulo*]
             </th>
           [/*header*]
        </tr>
      </thead>
      <tbody>

      </tbody>
      <tfoot>
      </tfoot>
  </table>
  [/*info*]
</body>
</html>
